{
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ],

  "presets": [
    "es2015",
    "react"
  ],

  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
